[project]
	description = VSProject
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rakesh459
[access "refs/for/refs/*"]
	read = group user/Rakesh459
	push = group user/Rakesh459
	label-Code-Review = -2..+2 group user/Rakesh459
	label-Verified = -1..+1 group user/Rakesh459
	rebase = group user/Rakesh459
	removeReviewer = group user/Rakesh459
	submit = group user/Rakesh459
[access "refs/heads/*"]
	read = group user/Rakesh459
	create = group user/Rakesh459
	push = +force group user/Rakesh459
	pushMerge = group user/Rakesh459
[access "refs/tags/*"]
	push = group user/Rakesh459
	push = +force group user/Rakesh459
